header{
    display: flex;
    background-color:rgb(92, 152, 230);
    padding: 10px 20px;
    border-bottom: 10px solid black;
    justify-content: space-between;
}
a{
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: "Fira Code";
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a:before{
    content: "";
    background-color: rgb(121, 51, 51);
    width: 10px;
    height: 10px;
    margin-right: 10px;

}

#button{
    background-color: rgb(121, 51, 51);
    display: inline-block;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 #000;
    margin-right: 0;
    transition: transform 50ms cubic-bezier(1, -0.33, 0.19, 2.54);
    
}
#button:hover{
    transform: scale(1.08);
    
    background-color: rgb(255, 255, 255);
    color: black;
    display: inline-block;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 #000;
    margin-right: 0;
}

nav{
    text-align: right;
}