.card-project{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(219, 127, 255);
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0 #fff;

}